body {
  background-image: url('https://copilot.microsoft.com/th/id/BCO.125d5b12-025a-4015-bd07-7c2c52ab18c1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Georgia', serif;
  color: #f5f5dc;
}
